<% include partials/header %>

<div class="alert-danger">
        <%= error %>
</div>

<h1 style="text-align:center">Sign Up</h1>

<form action="/register" class="form-group" style="margin-left:33%;margin-right:30%" method="POST">
    <div class="form-group"><label>Enter a Username : </label><input type="text" class="form-control" style="width:100%" name="username" placeholder="username"/></div>
    <div class="form-group"><label>Enter a Password : </label><input type="password" class="form-control" style="width:100%" name="password" placeholder="password"/></div>
    <input type="submit" value="Sign Up" class="form-control  btn btn-dark" style="width:30%; margin-left:138px"/>
</form>

<% include partials/footer %>