<% include partials/header %>
<div class="container">
        <h1><%= campG.name %></h1>
        <h5>By <%= campG.author.username %> </h5>
        <img src="<%= campG.image %>" class="img-thumbnail">
        <h4><%= campG.description %></h4>
</div>
<% include partials/footer %>